@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body{
        color: rgb(228, 239, 233);
        background-color: black;
    }
}

@layer components{
    .menuLink{
        @apply cursor-pointer hover:text-[#c5c5c5];
    }

    .tags {
        background-color: brown;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        border-radius: 50%;
        display: inline-block;
        color: azure;
        font-size: 12px;

    }

    .tags:last-child{
        margin-right: 0;
    }

    .tags:nth-child(2){
        background-color: cadetblue;
    }

    .tags:nth-child(3){
        background-color: rgb(154, 20, 166);
    }

    .tags:nth-child(4){
        background-color: rgb(95, 160, 105);
    }

}